.myHome {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vsButton {
  margin: 35px;
}

.vsButton > img {
  width: 400px;
  padding: 120px;
}
