/* CSS file for both `MyHumanBoard` and `MyEngineBoard`. */
.myGamespace {
  display: flex;
  flex-direction: column;
}

.myChessboard {
  display: flex;
  flex-direction: row;
}

.myChessboard > * {
  margin: 0 20px;
}

.myButtons {
  display: flex;
  justify-content: center;
}

.myButtons > * {
  margin: 20px 20px;
}
