/* CSS file for both `MyHumanBoard` and `MyEngineBoard`. */
.myChessboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.myChessboard > * {
  margin: 10px;
}

.movesAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
