.myNav.nav {
  padding: 10px 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  font-weight: bold;
}

.userButtons > * {
  margin: 0 50px;
  color: black;
}
