.myProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myGameInfoContainer {
  display: flex;
  justify-content: center;
}

.myGameInfoContainer > * {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 600px;
}
